body {
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	padding-top: 50px;
	color: #FFF;
	background-color: #000;
	text-align: center;
	}
	
h1, h2, h3, h4, h5, h6 {
	color: #FFF;
	}

h3{
	font-size: 1vw;
	text-align:center ;
}

a{
	font-size: 3vh;
	font-weight: lighter ;
	color: #FFF;
}

a:hover{
	font-size: 3vh;
	font-weight: lighter ;
	color: #FFF;
	text-decoration: none;
}

	
.feature {
	height: 500px;
	background-color: yellowgreen;
	background-image: url("Images/Pazzy.png");
	background-size: 100%;
	color: white;
	}
	
.article-intro {
    margin-bottom: 0px;
}

.footer-blurb {
    padding: 30px 0;
    background-color: goldenrod;
    color: black;
}

article {
	background-color: #9D1F18;
	text-align: center;
	height: 32vw;
	width: 32vw;
	border: 30px solid black;
	padding: 50px;
	margin: 0px;
	display: flex;
  }

article:hover{
	background-color: #c42f27;
}

.button {
	background-color: #04AA6D;
	border: none;
	color: white;
	padding: 10px;
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 50%;
  }
  
  .button1 {border-radius: 2px;}
  .button2 {border-radius: 4px;}
  .button3 {border-radius: 8px;}
  .button4 {border-radius: 12px;}
  .button5 {border-radius: 50%;}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-color: rgb(40, 40, 40);
	padding: 30px 0;
}

.feature,
.page-intro,
.article-intro,
.footer-blurb,
.small-print {
	text-align: center;
	}
